<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

 <!-- MapOffersToItem Web Service -->
 <bean id="mapOffersToItem" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
     <property name="schema" ref="schema"/>
     <property name="portTypeName" value="MapOffersToItem"/>
     <property name="locationUri" value="http://localhost:8080/BomWebPortal/ws/lts/mapOffersToItem/"/>
 </bean>    
  
 <bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping">
      <property name="interceptors">
        <list>
           <ref local="loggingWsLtsInterceptor" />
           <ref local="wsLtsSecurityInterceptor" />
           <ref local="validatingInterceptor" />        
        </list>
      </property> 
 </bean> 
 

 
 <bean id="validatingInterceptor" class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
      <property name="xsdSchema" ref="schema" />
      <property name="validateRequest" value="true" />
      <property name="validateResponse" value="true" />
 </bean>    
 
 <bean id="loggingWsLtsInterceptor" class="org.springframework.ws.soap.server.endpoint.interceptor.SoapEnvelopeLoggingInterceptor" />

 <bean id="schema" class="org.springframework.xml.xsd.SimpleXsdSchema">
      <property name="xsd" value="/WEB-INF/xsd/lts/ItemDetailsProfile.xsd"/>
 </bean>
    
 <bean class="com.bomwebportal.lts.wsServiceLts.ItemDetailsProfileEndPoint">
      <property name="itemExportService" ref="itemExportService"/>
 </bean>

 <bean class="org.springframework.ws.server.endpoint.adapter.GenericMarshallingMethodEndpointAdapter">
      <property name="marshaller" ref="marshaller"/>
      <property name="unmarshaller" ref="marshaller"/>     
 </bean>

 <bean id="wsLtsSecurityInterceptor" class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor">
      <property name="validationActions" value="UsernameToken" />
      <property name="validationCallbackHandler" ref="wsLtsPlainTextSecurityHandler" />
 </bean>
            
 <bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
      <property name="contextPath" value="com.bomwebportal.lts.wsServiceLts.schemas"/>            
 </bean>
 
 <bean id="exceptionResolver"
      class="org.springframework.ws.soap.server.endpoint.SoapFaultMappingExceptionResolver">
      <property name="defaultFault" value="SERVER"/>
      <property name="exceptionMappings">
         <props>
            <prop key="org.xml.sax.SAXParseException">CLIENT,Invalid request</prop>
            <prop key="org.springframework.ws.soap.saaj.SaajSoapMessageException">CLIENT,Invalid request</prop>
         </props>        
      </property>
 </bean>                                                         
 <!-- MapOffersToItem Web Service -->     
        
</beans>