<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
  
">

  <aop:aspectj-autoproxy />
  
  <bean id="bom-cos-ws-messageSender" class="com.bomwebportal.wsclient.TrustAllHttpsUrlConnectionMessageSender">
  </bean>
	<!-- bean id="messageSender" class="org.springframework.ws.transport.http.CommonsHttpMessageSender"/ -->

	<bean id="bom-cos-ws-messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />

	<bean id="bomCosWsTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
		<constructor-arg ref="bom-cos-ws-messageFactory" />
		<property name="defaultUri"
			value="${ws.bomCosOrderClient.wsdl}" />
		<property name="marshaller" ref="bom-cos-ws-jaxbMarshaller" />
		<property name="unmarshaller" ref="bom-cos-ws-jaxbMarshaller" />
		<property name="messageSender" ref="bom-cos-ws-messageSender"/>
		<property name="interceptors">
			<list>
				<ref bean="bom-cos-ws-wss4jSecurityInterceptor" />
			</list>
		</property>
	</bean>
	
	

	
	<bean id="bom-cos-ws-wss4jSecurityInterceptor"
    class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor">
    <property name="securementActions" value="UsernameToken" />
    <property name="securementUsername" value="${ws.bomCosOrderClient.username}" />
    <property name="securementPassword" value="${ws.bomCosOrderClient.password}" />
    <property name="securementPasswordType" value="PasswordText" />
  </bean>

	
	<bean id="bom-cos-ws-jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller"
		p:contextPath="com.pccw.services" />

	
	<bean id="bomCosOrderWsClient" class="com.bomwebportal.wsclient.BomCosOrderWsClient">
	    <property name="bomCosWsTemplate" ref="bomCosWsTemplate"/>
	</bean>
	

	
	

	
</beans>